extends layout

block content
  .spacer
  div(class="block intro" data-stellar-ratio="0.3")
    h1.logo
      img(src="/img/logo.png" alt="logo")
      //- span Yo帮手

    h1.slogan: img(src="/img/slogan.png" alt="slogan")
    .download-link
      a(class="btn btn-default download " id="android" href="/beta/android")
        img(src="/img/robot.png")
        span Android
      a(class="btn btn-default download " id="ios" href="https://itunes.apple.com/cn/app/yo-bang-shou/id873451088?mt=8")
        img(src="/img/apple.png")
        span IOS
    a(class="scrollTo scroll-down hidden-xs " href="#features"): i.fa.fa-angle-down.fa-2x
    .preview
      img(src="/img/preview.png")

  .block.features(id="features")
    .container
      .row
        .col-md-4
          .feature
            h4 想学什么外语，就找什么外教。用户随时随地只需描述需求，剩下的Yo帮手帮您搞定。
            .tip 免费外教


        .col-md-4
          .feature
            h4 观看商家精选宣传介绍，获得惊喜奖励。
            .tip 广告奖励
        .col-md-4
          .feature
            h4 Yo帮手定制商品，应有尽有，免费学习还有东西送!
            .tip 商品兑换


  .block.bottom-line
    .container
      h1: img(src="/img/bottom-line.png" alt="Yo帮手＝免费外教＋广告奖励＋商品兑换")
      h1  这是一个练习外语的神器！

  .block.copyright
    .container
      p Copyright 2014 Yozaii Technology Co. Ltd.
      p 沪ICP备14006548号-2

block css
  link(href="/css/home.css" rel="stylesheet")

block js
  script(src="/js/home.js")
