doctype html
html
  head
    //- link(rel='stylesheet', href='/css/style.css')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="to0")
    title Yo帮手
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/font-awesome.min.css" rel="stylesheet")

    block css

    //- script(src="/js/ga.js")

  body(style="padding:100px; text-align:center;")
    //- block content
    a(class="btn btn-primary btn-lg" href="itms-services://?action=download-manifest&url=http://1oo1.co/yo.plist") Install YoHelper

    script(src="/js/jquery-1.11.0.min.js")
    script(src="/js/bootstrap.min.js")
    //- script(src="/js/jquery.stellar.min.js")

    //- block js
