body {

	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.spacer{
	display:block;
	z-index:-1;
	height:700px;
	position:relative;
}
.block {
	background-color: #FFFFFF;
	position: relative;
	margin: 0;
	width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /*z-index: 2;*/
  display: block;
}

.block h1, .block h2, .block h3 {
	text-align: center;
}

.intro {
	color: #fff;
	padding-bottom: 50px;
	text-align: center;
	margin: auto;
	position: fixed;
	width: 100%;
	height: 100%;
	/*z-index: 2;*/
	top: 0;
	left: 0;
	background-image:url("/img/home-bg.jpg");
	background-size:cover;
	background-position: 50% 0%;
}
/*@media (max-width:767px){*/
	.intro {

		position: relative;
		width: 100%;
		height: 100%;

		padding: 20px;
	}
/*}*/
@media (max-width:768px){
	.intro {
		background-image:url("/img/home-bg-mobile.png");
		/*z-index: 2;*/
	}
}
.features {
	padding-bottom: 60px;
	background-image: url("/img/middle-bg.jpg");
	background-size: cover;
}
.features h2, .features h3 { color: #333; }
.features h4 { color: #666; }
.features > .container {
	/*max-width:700px;*/
}
.feature {
	background-color: rgba(234, 232, 225, 0.88);
	height: 300px;
	padding: 60px 20px;
	border-radius: 4px;
}

.bottom-line { background-color: #F2F2F2; }
.bottom-line img {
	max-width:100%;
}
.bottom-line > .container {
	max-width:500px;
}
.copyright {
	background-color: #348fd4;
	padding: 20px;

}
.copyright p {
	text-align: center;
	color: #fff;
}

.slogan img {
	max-width: 100%;
}
.block .logo img {
	width: 140px;
}
.download {
	display: block;
	margin: 40px auto;
	background-image: url("/img/android.png");
	padding: 15px ;
	padding-left: 80px;
	width: 169px;
	height:57px;
	background-size: cover;
	border:none;
	color: #fff;
	font-size: 20px;
}
#ios {
	background-image:url("/img/ios.png")
}
@media (min-width: 768px) {
	.block .logo{
		text-align: left;
		padding-left: 10%;
		color: #fff;
	}

	.block .slogan{
		text-align: left;
		padding-left: 10%;
		color: #fff;
	}
	.slogan img {
		max-width: 60%;
	}
	.download-link {
		width: 800px;
		text-align:left;
		color: #fff;
		padding-left: 10%;
	}
	.download {
		display: inline-block;
		margin: 100px 40px;
	}

}
.spacing {
	padding: 20px;
}
.scroll-down {
	position: absolute;
	bottom: 10%;
	left: 48%;
	text-align: center;
	height: 60px;
	width: 60px;
	font-size: 50px;
	display: block;
	color: #cecece;
}
.scroll-down:hover{
	color: #cd435b;
}
.navbar-default .navbar-nav > li > a, .navbar-brand{
	color: #5e5e5e;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #428bca;

	background-color: inherit;
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
